<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            justify-content: center;
            text-align: center;
        }
        .container{
            justify-content: space-evenly;
            display: flex;
            margin-left: 10%;
            margin-right: 10%;
            flex-wrap: wrap;
        }
        .box{
            width: 250px;
            height: 250px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class = header>
        <h1>Welcome!</h1>
    </div>
    <div class = container>
        {% for i in range(0,num) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>