<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class = header>*** Checkerboard ***</h1>
    <div class = container>
        <table>
            {% for i in range(0,num) %}
                <tr>
                {% for i in range(0,4) %}
                    <td class = box1 ></td>
                    <td class = box2 ></td>
                {% endfor %}
                </tr>
                <tr>
                {% for i in range(0,4) %}
                    <td class = box2 ></td>
                    <td class = box1 ></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% for i in range(0,8) %}
            
        {% endfor %}
        {% for i in range(0,8) %}
        <div class="box"></div>
        {% endfor %}
    </div>
</body>
</html>